---
import Layout from "../layouts/Layout.astro";
import MenuLayout from "../layouts/MenuLayout.astro";
---

<MenuLayout title="Sobre nós">
  <div class="font-serif text-stone-800">
    <h1 class="text-center md:text-[18vw] -tracking-widest leading-[1.5ch]">
      Fugaz & Co.
    </h1>
  </div>
</MenuLayout>
