---
import Layout from "../layouts/Layout.astro";
import HeaderImages from "../components/HeaderImages.astro";
import { clients } from "../data/clients";
---

<Layout title="Fugaz & Co.">
  <main class="p-6 flex flex-col gap-12">
    <div class="text-orange-600">
      <h1
        class="text-center font-bold text-[35vw] md:text-[22vw] -tracking-widest leading-[1.5ch]"
      >
        Fugaz & Co.
      </h1>
      <div class="text-right text-[2vw]">
        <span>Consultoria gastronomica personalizada.</span>
      </div>
    </div>
    <HeaderImages />
    <div>
      <h2
        class="text-center font-bold text-[15vw] -tracking-wider leading-[1.5ch]"
      >
        Clientes.
      </h2>
      <ul class="flex items-center gap-6 overflow-auto py-6">
        {
          clients.map((client) => (
            <li class="text-center text-6xl">
              <a href={client.url}>{client.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
