---
import { Image } from "astro:assets";

const { src, alt = "" } = Astro.props;
---

<div class="h-full w-[100%] relative cursor-pointer overflow-hidden">
  <div class="z-30 absolute bottom-0 p-2 max-w-[50vw] md:max-w-auto">
    <slot name="title-subtitle" />
  </div>
  <Image
    src={src}
    alt={alt}
    class="h-full object-cover ease-in duration-200 hover:scale-105"
    width={1920}
    height={1080}
  />
</div>
