---
import HeaderImage from "./HeaderImage.astro";
import Picture4 from "../assets/picture6.jpeg";
import Picture5 from "../assets/picture7.jpeg";
import { clients } from "../data/clients";
import TitleSubtitle from "./TitleSubtitle.astro";
import BorderContent from "./BorderContent.astro";

const headerImages = clients.map((client, index) => {
  return {
    src: index % 2 === 0 ? Picture4 : Picture5,
    alt: client.name,
  };
});
---

<BorderContent>
  <div class="flex flex-col gap-6 font-serif">
    <h3 class="text-3xl">Saiba mais</h3>
    <ul class="flex gap-12 overflow-auto">
      {
        headerImages.map((headerImage) => (
          <li class="min-w-[80vw] lg:min-w-[40vw] h-[50vh]">
            <a href={headerImage.alt}>
              <HeaderImage src={headerImage.src} alt={headerImage.alt}>
                <div slot="title-subtitle">
                  <TitleSubtitle
                    title="Nome do cliente"
                    subtitle="Descrição do cliente"
                  />
                </div>
              </HeaderImage>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BorderContent>
