---
import MenuIcon from "./MenuIcon.astro";
---

<div class="text-3xl text-center flex flex-col md:flex-row place-items-center justify-center gap-6">
  <a
    href="mailto:fugazconsultoria@gmail.com?subject=Estou interessado em saber mais sobre a Fugaz &body=Olá, Fugaz"
  >
    <MenuIcon name="ant-design:mail-filled" text="Envie-nos um Email." />
  </a>
  <a href="https://www.instagram.com/fugaz.consultoria/" target="_blank">
    <MenuIcon name="ant-design:instagram" text="Instagram" />
  </a>
</div>
