---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  text?: string;
  big?: boolean;
  small?: boolean;
  isDark?: boolean;
  plain?: boolean;
}

const { name, text, big, isDark, plain, small } = Astro.props;
---

<div
  class={`${isDark ? "text-stone-200" : "text-stone-800"} flex items-center gap-3  ${plain ? "" : "cursor-pointer"} ${big ? "text-5xl" : "text-2xl"} ${small ? "text-lg" : ""}`}
>
  {
    plain ? (
      <>
        <Icon name={name} />
        <p class="font-serif">{text}</p>
      </>
    ) : (
      <>
        <button>
          <Icon name={name} />
        </button>
        <p class="font-serif">{text}</p>
      </>
    )
  }
</div>
