---
import MenuIcon from "./MenuIcon.astro";

const { page } = Astro.props;
---

<nav class="h-12 flex justify-between items-center sticky top-5 z-50">
  <ul class="flex items-center gap-6">
    <li class="flex items-center gap-4 text-stone-800">
      <slot name="menu">
        <a href="/menu">
          <MenuIcon name="ant-design:menu-outlined" text="Menu" />
        </a>
      </slot>
    </li>
  </ul>
  {page && <h2 class="text-2xl font-serif">{page}</h2>}
</nav>
