---
interface Props {
  text: string;
  description?: string;
  left?: boolean;
}

const { text, description, left } = Astro.props;
---

<div class=`${left ? '' : 'text-center'} flex flex-col gap-6 text-stone-800`>
  <h2 class="text-[7vw] -tracking-wide font-semibold leading-[1.5ch]">
    {text}
  </h2>
  <p class="text-2xl font-normal">{description}</p>
</div>
