---
interface Props {
  title?: string;
  subtitle?: string;
  isDark?: boolean;
}

const { title, subtitle, isDark } = Astro.props;
---

<div
  class={`${!isDark ? "text-stone-200" : "text-stone-800"} tracking-tighter leading-tight flex flex-col gap-2`}
>
  <h3 class="font-serif font-bold leading-widest text-6xl">{title}</h3>
  <span class="text-2xl font-serif">{subtitle}</span>
</div>
