---
interface Props {
  title?: string;
  subtitle?: string;
  isDark?: boolean;
}

const { title, subtitle, isDark } = Astro.props;
---

<div
  class={`${!isDark ? "text-stone-200" : ""} -tracking-tighter leading-tight flex flex-col`}
>
  <h3 class="font-serif font-bold -leading-widest text-[15vw] md:text-[5vw]">
    {title}
  </h3>
  <span class="text-lg">{subtitle}</span>
</div>
