---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import MenuIcon from "../components/MenuIcon.astro";
import Footer from "../components/Footer.astro";
import KnowMoreClients from "../components/KnowMoreClients.astro";
import BorderContent from "../components/BorderContent.astro";
import MailContact from "../components/MailContact.astro";
import type { ClientModel } from "../interfaces/ClientModel";
import { BUILDER_URLS, fetchBuilderContent } from "../services/builder-io";

interface Props {
  title: string;
  slug: string;
}

const { title, slug } = Astro.props;

const clientsAPIResult: ClientModel[] = await fetchBuilderContent(
  BUILDER_URLS.clients
);

const filteredClients = clientsAPIResult.filter(
  (client) => client.data.slug !== slug
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fugaz & Co." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar page={title}>
      <div slot="menu">
        <a href="/#clients">
          <MenuIcon big name="ant-design:close-circle-filled" />
        </a>
      </div>
    </Navbar>
    <slot />
    <BorderContent>
      <MailContact />
    </BorderContent>
    <KnowMoreClients clients={filteredClients} />
  </body>
</html>
